* {
    margin: 0;
    padding:0;

}

.nav{
    display: flex;
    width: 100vw;
    border: 1px solid black;
    justify-content: space-between;
    
}
#left-top-ul,
#right-top-ul{
    display: flex;
    margin: 10px ;
    /* justify-content: space-between; */
    list-style-type: none;
    align-items: center;
    
}
.left-side{
    display: flex;

}
.top-li{
    padding-right: 10px;
}

.right-li{
    padding-left: 10px;
}

.search{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
    border: 1px solid blue;
    width: 100%;
}
#google-img{
    width: 275px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}

#search-input{
    width: 45%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 30px;
    border-color: grey;

}
.button-container{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    width: 350px;
    height: 35px;
    margin-top: 20px;

}
button{
    background-color: rgb(186, 186, 186);
    padding: 10px 20px;
    height: 40px;
}
button:hover{
    color: black;
    border: 1px solid black;


}

.lang{
    text-align: center;
    /* width: 100%; */
    /* border: 1px solid red; */
    margin-top: 25px;
}

.footer{
    background-color: grey;
    height: 90px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    bottom: 0;
    position: fixed;  
    
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}

.footer-right,
.footer-left {
    display: flex;
    list-style-type: none;

}
#footer-left-li{
    padding-left: 10px;
}

#footer-right-li{
    padding-right: 10px;
}
